@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v27-latin_cyrillic-500.woff2') format('woff2'),
       url('../fonts/roboto-v27-latin_cyrillic-500.woff') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik-v14-latin_cyrillic-regular.woff2') format('woff2'),
       url('../fonts/rubik-v14-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/rubik-v14-latin_cyrillic-500.woff2') format('woff2'),
       url('../fonts/rubik-v14-latin_cyrillic-500.woff') format('woff');
}


html {
  box-sizing: border-box;
  font-family: 'Rubik', 'Arial', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
}

.container {
  max-width: 1440px;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  margin-bottom: 40px;
}

.header-wrapper {
  background-color: #ffffff;
  border-top: 4px solid #295093;
  padding-top: 40px;
  padding-bottom: 23px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo-link {
  background-color: #ffffff;
  box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
  border-radius: 5px;
  padding: 11px 9px;
}

.logo {
  display: block;
}

.currencies {
  display: flex;
  list-style-type: none;
  margin-left: 17px;
}

.currency {
  margin-right: 25px;
  color: #7a7a7a;
}

.currency-icon {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #285193;
  margin-right: 5px;
}

.header-right {
  display: flex;
  align-items: center;
}

.search-btn {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 8px 6px 8px 8px;
  border: none;
  margin-right: 22px;
  cursor: pointer;
  margin-left: 14px;
  align-items: center;
}

.search-btn:active {
  background-color: #cccccc;
}

.search-image {
  display: block;
}

.search-input {
  width: 145px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid white;
  padding-left: 10px;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #cccccc;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}

.lang {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px 11px;
  margin-right: 23px;
  cursor: pointer;
}

.lang-img {
  display: block;
  margin-right: 5px;
  border-radius: 50%;
}

.lang-text {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
}

.tg-link {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  background: linear-gradient(90deg, #1e96c8 15.07%, #37Aee2 85.96%);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-decoration: none;
}


.tg-img {
  display: block;
  margin-right: 7px;
}

/* nav */

.nav {
  margin-top: 40px;
  margin-bottom: 18px;
  padding: 22px 24px;
  box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
  border-radius: 5px;
  background-color: #ffffff;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-link {
  padding: 0 5px;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #515151;
  text-decoration: none;
}

.nrg-link {
  margin-bottom: 23px;
}

.active {
  color: #084fca;
}
.add-img {
  display: block;
  object-fit: cover;
  max-width: 1240px;
  height: 99px;
  padding: 0;
  margin: 0;
}

/* sorovnoma qismi */

.section {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.survey-h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 12px;
}

.survey-text {
  width: 600px;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #285193;
  margin-bottom: 20px;
  border-radius: 5px;
  padding-left: 16px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #888888;
}

.textarea-text {
  width: 600px;
  height: 307px;
  background-color: #ffffff;
  border: 1px solid #285193;
  padding-left: 16px;
  padding-top: 15px;
  margin-bottom: 27px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #888888;
}

.survey-file {
  margin-bottom: 20px;
  width: 221px;
  height: 50px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #295091;
}

.virsula-hidden {
  align-items: center;
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.label_img {
  margin-left: 180px;
  display: block;
  margin-top: 10px;
  align-items: center;
}

.from-password {
  display: flex;
  align-items: center;
}

.from-input {
  width: 221px;
  height: 50px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #285193;
  background-color: #ffffff;
  margin-right: 18px;
  padding-left: 16px;
  align-items: center;
  margin-bottom: 20px;
}

.from-p {
  font-size: 23px;
  line-height: 29px;
  font-weight: 400;
  align-items: center;
  font-family: 'Roboto', 'Arial', sans-serif;
}

.btn {
  padding: 15px 61px;
  border-radius: 5px;
  background-color: #295093;
  border: 1px solid #295093;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #ffffff;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: rgb(47, 255, 57);
  border: 1px solid rgb(47, 255, 57);
}

.aplication {
  margin-top: 40px;
  max-width: 660px;
  height: 300px;
  border-radius: 5px;
  border: 2px solid #BCC3CD;
  box-shadow: -5px 13px 7px rgba(57, 57, 57, 0.25);
}

.text_h1 {
  font-size: 28px;
  line-height: 33px;
  font-weight: 700;
  color: #295091;
  padding: 23px 10px 21px 198px;
  margin-left: auto;
  cursor: pointer;
}

.text-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.text-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}

.email_text, .text-item {
  margin-left: 20px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #888888;
  cursor: pointer;
}

.icon_img {
  margin-right: 5px;
}

.app_img {
  margin-right: 11px;
}

.btn_link {
  object-fit: cover;
  text-decoration: none;
  display: flex;
  background-color: #295091;
  align-items: center;
}

.btn_link {
  padding: 9px;
  border-radius: 5px;
}

.tg-link-btn {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  padding-left: 7px;
  color: #ffffff;
}

.footer {
  max-width: 1440px;
  /* height: 225px; */
  background-color: #295093;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.foter_logo {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.n_foter {
  width: 194px;
  background-color: #133C82;
  padding: 14px 13px;
  border-radius: 5px;
  color: #ffffff;
  transition: 0.3s ease;
}

.n_foter:hover {
  cursor: pointer;
  background-color: #454092;
  color: #ffffff;
}

.foter_p {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  margin-left: 170px;
}

.n-link{
  text-decoration: none;
  color: #ffffff;
}

.footer_link {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 6px;
  padding-right: 9px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #133C82;
  text-decoration: none;
  background-color: #ffffff;

}

.foter-img {
  margin: 0;
  padding: 0;
  align-items: center;

}

.images {
  display: inline-block;
  align-items: center;
}

.foter-link-text {
  padding: 9px 9px 9px 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #295093;
}

.horizantal {
  height: 3px;
  background-color: #133C82;
  margin-bottom: 25px;
}

.sayt {
  display: flex;
  align-items: center;
}

.sayt-text {
  width: 365px;
  margin-right: 110px;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.sayt-h3 {
  margin-bottom: 20px;
}

.sayt-list {
  width: 163px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 110px;
}

.sayt-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 15px;
}

.sayt-item-list {
  width: 255px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sayt-item, .sayt-item-list:hover {
  cursor: pointer;
}

